body {
    background-image: repeating-conic-gradient(from 60deg,
    #f67280 0deg 60deg,
    #4B8E7F 60deg 120deg);

    background-size: 90px 90px;
}

.button1 {
    position: absolute;
    z-index: 3;
}

.button2 {
    position: absolute;
    left: 110px;
    z-index: 3;
}